.token {
    margin: auto;
    max-width: 1200px;
    padding: 0 4.75vw 8vh;
}

.token h1 {
    color: #fff;
    font-size: 3.125vw;
    font-weight: 300;
    line-height: 3.125vw;
    margin-bottom: 2.1vw;
    text-align: center;
}

.benchmark-wrapper{
    border-radius: 8px;
    color:white;
    display: flex;
    flex-direction: row;
    /* margin: 10px; */
}

.token h2 {
    border-top: 1px solid #fff;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-top: 1.1vw;
    margin-bottom: 1.1vw;
    padding: 1.1vw 4vw 0 4.25vw;
}

.nomenclature-token-img{
    height: 60px;
    width: 60px;
}

.benchmark-wrapper h3 {
    font-size: 32px;
    line-height: 1.67vw;
    margin: 0 0 0.625vw;
}

.benchmark-wrapper p {
    font-size: 1.05vw;
    line-height: 1.5vw;
}

.nomenclature-token-item{
    /* border: 1px solid #3A8D8C;
    border-radius: 8px; */
    display: flex;
    margin-bottom: 2.125vw;
}

.nomenclature-token-item .nomenclature-details {
    flex: 1;
    margin-left: 1.125vw;
}


.nomenclature-token-item-wrapper{
    display: block;
}

.nomenclature-token-item h3 {
    color: #fff;
    font-size: 24px;
    line-height: 1.75vw;
    margin: 0 0 0.625vw;
}

.nomenclature-token-item p {
    color: #fff;
    font-size: 1.05vw;
    line-height: 1.5vw;
}

.explore {
    padding: 2.1vw 0 0;
    text-align: center;
}

.explore button {
    background: #105857;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1.05vw;
    line-height: 2.1vw;
    padding: 1vw;
    width: 30%;
}

@media only screen and (max-width: 768px) {
    .token {
        padding: 0;
    }
    .token h1 {
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 20px;
    }

    .token .benchmark-wrapper img {
        height: 80px !important;
        width: 80px !important;
    }
  
    .benchmark-wrapper {
        border-radius: 0;
        display: block;
        margin: 0;
        padding: 40px 20px;
    }

    .benchmark-wrapper h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 20px;
        text-align: left;
    }

    .benchmark-wrapper p {
        font-size: 16px;
        line-height: 28px;
    }

    .token h2 {
        border-top: 1px solid #fff;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        margin: 0 20px 20px 24px;
        padding-top: 20px;
        padding-left: 0;
        text-align: left;
    }

    .nomenclature-token-item-wrapper {
        display: block;
        padding: 0 20px;
    }

    .nomenclature-token-item {
        /* border-bottom: 1px solid #fff; */
        display: block;
        margin: 20px 0;
        padding-bottom: 20px;
        width: 100%;
    }

    .nomenclature-token-img {
        height: 80px;
        width: 80px;
    }

    .nomenclature-token-item h3 {
        font-size: 20px;
        line-height: 28px;
    }

    .nomenclature-token-item p {
        font-size: 16px;
        line-height: 28px;
    }

    .explore button {
        font-size: 20px;
        line-height: 20px;
        padding: 20px;
        width: 100%;
    }

    .explore {
        padding: 0 20px 40px;
    }
  }