.info-items-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3.5vw;
}

.infoItems {
    /* background: linear-gradient(180deg, #FFFFFF 0%, #3A8D8C 230.1%); 
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);*/
    padding: 1em 0;
    width: 47%;
}

.infoItems h3 {
    color: #fff;
    font-size: 1.5vw;
    line-height: 1.7vw;
}

.infoItems p {
    color: #fff;
    font-size: 1.1vw;
    line-height: 1.5vw;
    margin: 1em 0;
}

.infoItems button {
    background-color: #3A8D8C;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0.5em 2em;
}