.inner {
  color: #fff;
}

.content {
  color: #fff;
  margin: auto;
  max-width: 1400px;
  margin: auto;
  max-width: 1240px;
  padding: 2.1vw 0;
}

.content h1 {
  font-size: 4.2vw;
  font-weight: 300;
  line-height: 5.25vw;
  padding: 0 0 2.1vw;
  text-align: center;
}

.content h2 {
  font-size: 1.7vw;
  font-size: 1.7vw;
  font-weight: 300;
  line-height: 1.7vw;
  padding: 0 0 1.1vw;
}

.content p{
  font-size: 1.1vw;
  line-height: 1.5vw;
  font-size: 1.1vw;
  line-height: 1.5vw;
  margin-bottom: 1.1vw;
}

.content #carbon {
  /* margin-bottom: 3.5em;
  padding-bottom: 3.5em; */
  border-bottom: 1px solid #fff;
  margin-bottom: 1.1vw;
}

.content #voluntary {
  padding-bottom: 3.5em;
}

/* .background-footer-img {
  width: 470px;
} */
/* .background-footer-img {
  width: 470px;
} */

.positive-action-wrapper {
  color: #fff;
  display: flex;
  flex-direction: row;
  padding: 0 0 3.75vw;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
  padding: 0 0 3.75vw;
  align-items: center;
  justify-content: center;
  max-width: 1240px;
  margin: auto;
}

.positive-action-wrapper div {
  padding: 0 0 0 4.75vw;
  padding: 0 0 0 2.1vw;
}

.positive-action-wrapper h2 {
  font-size: 2.125vw;
  font-weight: 300;
  line-height: 2.1vw;
  margin-bottom: 1vw;
}

.positive-action-wrapper p {
  font-size: 1.1vw;
  line-height: 1.5vw;
}
.positive-action-wrapper a {
  background: #A9E1E0;
  border: none;
  border-radius: 8px;
  color: #105857;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: 400;
  line-height: 2em;
  margin: 60px 0 120px;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  width: 50%;
}

.profile-image {
  border-radius: 8px;
  height: 120px;
  flex-shrink: 0;
  width: 120px;
  margin: 0 2.1vw 0 0;
}

.profile-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 4.25vw;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info a {
  background: url("../../../assets/TeamLinkedin.png") no-repeat 0 0;
  background-size: 28px 28px;
  display: inline-block;
  height: 28px;
  margin-left: 8px;
  width: 28px;
}

.profile-item h2 {
  align-items: center;
  display: flex;
  font-size: 2.5vw;
  font-weight: 300;
  line-height: 2.5vw;
  margin-bottom: 1.1vw;
  padding: 0;
}

.profile-item p {
  border-bottom: 1px solid #fff;
  flex: 1;
  font-size: 1.1vw;
  margin: 0;
  padding-bottom: 1.1vw;
}

@media screen and (max-width: 960px) {
  .content {
    padding: 20px;
  }
  .positive-action-wrapper,
  .profile-item {
    flex-direction: column;
    padding: 20px;
  }

  .profile-item {
    padding: 0;
  }

  .content h1 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 20px;
    padding: 0;
  }

  .content h2,
  .positive-action-wrapper div h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .positive-action-wrapper div {
    padding: 0;
  }

  .content p,
  .positive-action-wrapper div p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
    padding: 12px 0;
  }

  .positive-action-wrapper a {
    background: #105857;
    color: #fff;
    margin-bottom: 32px;
    width: 100%;
  }

  .background-footer-img {
    margin-bottom: 32px;
  }

  .profile-item h2 {
    margin-top: 12px;
  }

  .profile-info a {
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
  }

  .content #carbon {
    margin-bottom: 20px;
    padding: 0;
  }
  .content #voluntary {
    padding: 0;
  }

  .profile-image {
    margin: 0 auto;
  }

  .profile-item h2 {
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
  .positive-action-wrapper a {
      margin: 40px auto;
      width: 45%
  }
}
