.offerings {
  padding-top: 3vw;
}

.offering-title {
  color: #105857;
  font-size: 3.1vw;
  line-height: 3.1vw;
  font-weight: 300;
  /* margin-top: 100px; */
  margin-bottom: 3.1vw;
  text-align: center;
}

.offering-content {
  background-color: #eeffff;
  padding: 0 4.75vw;
}

.tab-wrapper {
  display: flex;
  flex-direction: row;
}

.active-tab {
  background-color: #105857;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2.1vw;
  font-weight: 300;
  flex: 1;
  line-height: 3.1vw;
  padding: 1.55vw;
}

.inactive-tab {
  background-color: transparent;
  flex: 1;
  border: none;
  color: #3a8d8c;
  cursor: pointer;
  font-size: 2.1vw;
  font-weight: 300;
  flex: 1;
  line-height: 3.1vw;
  padding: 1.55vw;
}

.tab-content-wrapper {
}

.tab-one-wrapper,
.tab-two-content {
  display: flex;
  flex-direction: row;
  padding: 4em 0;
}

.im-title {
  color: #105857;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.5;
  margin: 0.25em 0 1.25em;
}

.item-title {
  color: #1e354a;
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 1.7vw;
  margin-bottom: 0.5vw;
}

.item-desc {
  color: #1e354a;
  font-size: 0.85vw;
  font-weight: 400;
  line-height: 1.25vw;
}

.item-details {
  flex: 1;
  margin-left: 1.75em;
}

.item-circle {
  background-color: #fff;
  height: 60px;
  width: 60px;
  min-height: 60px !important;
  min-height: 60px !important;
  border: 5px solid #105857;
  border-radius: 50%;
}

.item-rect {
  background-color: #105857;
  height: 60px;
  margin: 0 23px;
  width: 14px;
}

.item-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.reyansh {
  color: blue;
}

.user-experience {
  flex: 1;
}

.user-experience h2 {
  color: #105857;
  font-size: 3.125vw;
  font-weight: 600;
  line-height: 4.125vw;
}

.user-experience h3 {
  color: #105857;
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.7vw;
}

.user-experience h4 {
  color: #105857;
  font-size: 1.67vw;
  font-weight: 400;
  line-height: 1.67vw;
}

.user-experience img {
  border-radius: 8px;
  margin-bottom: 1vw;
  margin-top: 2em;
  width: 100%;
}

.user-experience p {
  color: #1e354a;
  margin-bottom: 1.25em;
}

.user-experience ul {
  margin-left: 2em;
}

.user-experience button {
  background-color: #105857;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  line-height: 2em;
  margin: 10px 0;
  padding: 1em 2em;
}

.solutions {
  flex: 2;
  margin-left: 6em;
}

.solutions h3 {
  color: #105857;
  font-size: 1.5em;
  font-weight: 600;
}

.border {
  height: 1px;
  /* margin-top: 0.85vw;
  margin-bottom: 0.85vw; */
  background-color: #1e354a;
}

.disclaimer {
  color: #1e354a;
  font-size: 12px;
}

.disclaimer sup {
  color: #c0504b;
}

.code-image {
  height: 600px;
}

.tab-two-content .solutions {
  flex: 1;
}

ul {
  margin: 0 0 2em;
  padding: 0;
}

ul li {
  color: #105857;
  font-size: 1.5em;
}

.stepper-wrapper {
  display: none;
}

@media screen and (max-width: 680px) {
  .stepper-wrapper {
    display: block;
  }
  
  .stepper-wrapper .control-arrow{
    display: none;
  }

  .stepper-wrapper .carousel-status{
    display: none;
  }

  .solutions h3 {
    margin-top: 20px;
  }

  .item-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .item-desc {
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
  }

  .item-circle {
    background-color: #fff;
  }

  .user-experience p {
    font-size: 12px;
  }

  .user-experience img {
    margin-bottom: 12px;
  }
}
